.book{
    padding: 50px;
    width: 100vw;
    height: 85vh;
}

.book-content{
    display: flex;
    align-items: center;
   
    margin-bottom: 20px;
}
.book-content-image{
    background-color: snow;
    width: 25%;
    height: 300px;
    object-fit: contain;
    padding: 10px;
    border-radius: 10px;
  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.book-content-info{
   
    width: 30%;
    height: 300px;
    margin-top: 0;
    padding: 20px;
    padding-top: 70px;
}

.book-content-title{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;

}
.book-content-authors{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;

}
.author-name{
    color: rgb(81, 81, 209);
}
.flex-style{
    color: rgb(158, 156, 156);
    font-weight: 500;
}

.book-content-add-card{
 display:flex ;
 align-items: center;
}
.book-content-input{
    margin-top: 10px;
 
    height: 50px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
}

.book-content-show-btn{
    margin-top: 12px;
    border: 1px solid green;
    color: green;
    background-color: transparent;
    font-size: 17px;
    padding: 12px;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
    transition: 0.5s;
}
.book-content-show-btn:hover{
 background-color: aquamarine;
}

.book-content-description{
    width:100%;
    font-size: 17px;
    line-height: 1.8;
 
}
.book-content-icons{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
   
    
}

.print-length small,
.Language small,
.Publication-Date small{
    color: rgb(37, 37, 172);
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.icon-show-book{
    font-size: 25px;
    color: var(--primary-color);
}

.pub-show-book{
    color: crimson;
    font-weight: 500;
    font-size: 25px;
}

.book-content-price{

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.book-content-price b{
    color: rgb(126, 116, 116);
    font-size: 20px;
    margin-top: 10px;
}

.book-content-show-price{
    margin-top: 10px;
    color: crimson;
    font-size: 20px;
}
.cart-plus{
  border: none;
}