
.register{
   padding: 20px;
    min-height: calc(60vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
 
 
}
.Register-form{
    width: 100%;

   
}
.first-input input{
    border-color: var(--primary-color);
    width: 30%;
  height: 50px;  
 margin: 20px;


}
.secende-input input{
    border-color: var(--primary-color);
    width: 30%;
  height: 50px;  
  margin: 20px;
}
.confimation input{
    border-color: var(--primary-color);
    width: 30%;
    height: 50px;   margin: 20px;
    
}
.Register-btn{
    width: 20%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}





